= form_with(model:  @question, local: true) do |form|
  .card-body
    = render 'shared/error', resource: @question
    %div
      = form.label :title
      = form.text_field :title, class: 'form-control'
    %div
      %br/
      = form.label :body
      = form.text_area :body, class: 'form-control'
    %div
      %br/
      #attached_files
        =render 'attachments/attach', resource: @question
    %div
      %br/
      = form.label :files
      = form.file_field :files, class: 'form-control-file', multiple: true, direct_upload: true

  .card-footer
    %div
      = form.submit 'Ask', class: "actions btn  btn-sm btn-primary"
      - if @question.new_record?
        = link_to "Back", questions_path, class: 'btn btn-sm btn-secondary'
      - else
        = link_to "Back", @question, class: 'btn btn-sm btn-secondary'
