= form_with(model:  @question, local: true) do |form|
  .card-body
    = render 'shared/error', resource: @question
    .question
      %div
        = form.label :title
        = form.text_field :title, class: 'form-control'

      %div
        = form.label :body
        = form.text_area :body, class: 'form-control'

    %div
      %hr/
    .reward
      Reward:
      = render 'rewards/reward', resource: @question.reward unless current_page?(action: 'new')
      = form.fields_for :reward, @question.build_reward do |reward|
        = render 'rewards/form', r: reward

    %div
      %hr/
      Links:
      = render 'shared/link', resource: @question unless current_page?(action: 'new')
      = form.fields_for :links do |link|
        = render 'shared/link_fields', f: link
      .links
        = link_to_add_association 'Add link', form, :links, partial: 'shared/link_fields', class: 'btn btn-sm btn-success'

    %div
      %hr/
      #attached_files
        =render 'attachments/attach', resource: @question

    %div
      %hr/
      = form.label :files
      = form.file_field :files, class: 'form-control-file', multiple: true, direct_upload: true

  .card-footer
    %div
      = form.submit 'Ask', class: "actions btn  btn-sm btn-primary"
      - if @question.new_record?
        = link_to "Back", questions_path, class: 'btn btn-sm btn-secondary'
      - else
        = link_to "Back", @question, class: 'btn btn-sm btn-secondary'
