.card
  .card-header
    %p.card-title
      = @question.title
  .card-body
    %p.card-text
      = @question.body
    - if @question.files.attached?
      Прикрепленные файлы:
      %br
      - @question.files.each do |file|
        = link_to file.filename.to_s, url_for(file)
        %br
      %br
    - if current_user&.author?(@question)
      = link_to "Edit", edit_question_path(@question), class: 'btn btn-sm btn-outline-warning'
      = link_to "Delete", question_path(@question), method: :delete, class: 'btn btn-sm btn-outline-danger'
    %hr
    %ul#answers.list-group.list-group-flush
      - @question.answers.sort_by_best.each do |answer|
        = render answer
    %hr
    - if current_user
      = render 'answers/form'
    - else
      Need to #{ link_to  'Log in', new_user_session_path} to answer
  .card-footer
    = link_to "Back", questions_path, class: 'btn btn-sm btn-secondary'

