.card
  .card-header
    %p.card-title
      = @question.title
  .card-body
    %p.card-text
      = @question.body
    - if  current_user.present? && current_user.author?(@question)
      = link_to "Edit", edit_question_path(@question), class: 'btn btn-sm btn-outline-warning'
      = link_to "Delete", question_path(@question), method: :delete, class: 'btn btn-sm btn-outline-danger'
    %hr
    %ul#answers.list-group.list-group-flush
      - if @question.answers.any?
        - @question.answers.each do |answer|
          = render  answer
    %hr
    - if current_user
      = render 'answers/form'
    - else
      Need to #{ link_to  'Log in', new_user_session_path} to answer
  .card-footer
    = link_to "Back", questions_path, class: 'btn btn-sm btn-secondary'

