.card
  .card-header
    .card-title
      .row
        .col-md-10
          .small
            %span.font-weight-bold= @question.user.email
            ask
            = time_ago_in_words(@question.created_at)
            ago
        .col-md-2
          = render 'shared/rating', resource: @question
      %hr
      .row
        .col-md-10
          = @question.title
        .col-md-2.span.small
          - if @question.reward
            .small.text-center Reward for best answer:
          = render 'rewards/reward', resource: @question.reward

  .card-body
    %p.card-text
      = @question.body
      = render 'shared/link', resource: @question
      = render 'attachments/attach', resource: @question

    - if current_user&.author?(@question)
      = link_to "Edit", edit_question_path(@question), class: 'btn btn-sm btn-outline-warning edit_question'
      = link_to "Delete", question_path(@question), method: :delete, class: 'btn btn-sm btn-outline-danger'
    %hr/

    = render 'comments/comments', resource: @question
    %br/
    - if current_user
      = render 'comments/form', resource: @question

    %h4.text-center
      Answers
    .container.border.border-info.p-2.bg-light
      %ul#answers.list-group.list-group-flush
        - @question.answers.sort_by_best.each do |answer|
          = render answer
    %hr/

    - if current_user
      .container.border.border-success.p-2.bg-light
        = render 'answers/form'
    - else
      Need to #{ link_to  'Log in', new_user_session_path} to answer

  .card-footer
    = link_to "Back", questions_path, class: 'btn btn-sm btn-secondary'

