.card
  .card-header
    %p.card-title
      .row
        .col-10
          = @question.title
        .col-2
          = render 'shared/rating', resource: @question
  .card-body
    %p.card-text
      = @question.body
      = render 'shared/link', resource: @question
      %br/
      = render 'attachments/attach', resource: @question
      %br/
      .text-left
        = render 'rewards/reward', resource: @question.reward

    - if current_user&.author?(@question)
      = link_to "Edit", edit_question_path(@question), class: 'btn btn-sm btn-outline-warning edit_question'
      = link_to "Delete", question_path(@question), method: :delete, class: 'btn btn-sm btn-outline-danger'
    %hr/
    %h4
      Answers:
    %hr/
    %ul#answers.list-group.list-group-flush
      - @question.answers.sort_by_best.each do |answer|
        = render answer
    %hr/

    - if current_user
      .container.border.border-success.p-2.bg-light
        = render 'answers/form'
    - else
      Need to #{ link_to  'Log in', new_user_session_path} to answer

  .card-footer
    = link_to "Back", questions_path, class: 'btn btn-sm btn-secondary'

