%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to 'StackOverflow', root_path,  class: 'navbar-brand'
  %ul.nav.mr-auto
    %li.nav-item
      = link_to "Questions", questions_path, class: 'nav-link'
    %li.nav-item
      = link_to "My rewards", rewards_path, class: 'nav-link'
    %li.nav-item
      = link_to "My API", oauth_applications_path, class: 'nav-link'
  .form-inline.my-2.my-lg-0
    - if current_user
      %span.nav-link= current_user.email
      = link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-danger mr-2'
    - else
      = link_to "Login", new_user_session_path, class: 'btn btn-sm btn-danger mr-2'
      = link_to "Register", new_user_registration_path , class: 'btn btn-sm btn-danger mr-2'
