%div{:id => "answer_#{answer.id}", :class => "#{'rounded-lg border border-success best_answer'  if answer.best}" }
  %li.list-group-item
    .row
      .col-9
        = answer.body
        - if answer.files.attached?
          - answer.files.each do |file|
            %br
            = link_to file.filename.to_s, url_for(file)
      .col-3.ml_auto
        - if answer.persisted?
          - if current_user&.author?(answer.question)
            = link_to 'Make best', choose_best_answer_path(answer), method: :put, remote: true,
            class: 'best_link', id: "best_#{answer.id}"
          - if current_user&.author?(answer)
            |
            = link_to 'Edit', '#', class: 'edit_link', id: "#{answer.id}"
            |
            = link_to 'Delete', answer_path(answer), remote:true, method: :delete,
             class: 'delete_link', id: "#{answer.id}"

  - if  current_user&.author?(answer)
    = form_with(model: answer, class: 'hidden border border-warning card-body', id: "edit_form_#{answer.id}"  )  do |form|
      .answer-errors{id: "errors_#{answer.id}"}
        = render 'shared/error', resource: answer
      %div
        = form.label :body, "Edit answer"
        = form.text_area :body, class: 'form-control'
      %div
        %br/
        = form.label :files
        = form.file_field :files, class: 'form-control-file edit_files', multiple: true
        %br
        = form.submit 'Save'
