%div{:id => "answer_#{answer.id}", :class => "#{'rounded-lg border border-success best_answer'  if answer.best}" }
  %li.list-group-item
    .row
      .col-9
        = answer.body
      .col-3.ml_auto
        - if current_user.present?
          - if answer.persisted?
            - if current_user.author?(answer.question)
              = link_to 'Make best', choose_best_answer_path(answer), method: :put, remote: true,
              class: 'best_link', id: "best_#{answer.id}"
            - if current_user.author?(answer)
              |
              = link_to 'Edit', '#', class: 'edit_link', id: "#{answer.id}"
              |
              = link_to 'Delete', answer_path(answer), remote:true, method: :delete,
               class: 'delete_link', id: "#{answer.id}"

  - if current_user.present? && current_user.author?(answer)
    = form_with(model: answer, class: 'hidden', id: "edit_form_#{answer.id}"  )  do |form|
      .answer-errors{id: "errors_#{answer.id}"}
        = render 'shared/error', resource: answer
      %div
        = form.label :body, "Edit answer"
        = form.text_area :body, class: 'form-control'
        %br
        = form.submit 'Save'
