%div{:id => "answer_#{answer.id}"}
  %li.list-group-item
    .row
      .col-10
        = answer.body
      .col-2.ml_auto
        - if current_user.present? && current_user.author?(answer) && answer.persisted?
          = link_to 'Edit', '#', class: 'edit_link', id: "#{answer.id}"
          |
          = link_to 'Delete', answer_path(answer), remote:true, method: :delete,
           class: 'delete_link', id: "#{answer.id}"

  = form_with(model: answer, class: 'hidden', id: "edit_form_#{answer.id}"  )  do |form|
    %div
      = form.label :body, "Edit answer"
      = form.text_area :body, class: 'form-control'
      %br
      = form.submit 'Save'
