= render 'shared/error', resource: @answer
= form_with(model:  [@question, @answer], local: true) do |form|
  %div
    = form.label :body, 'Add answer'
    = form.text_area :body, class: 'form-control'
    %br
    = form.submit 'Create answer', class: "actions btn  btn-sm btn-primary"
